# Ignore virtual environments
envs/
venv/
.fifa-env/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS system files
.DS_Store

# Ignore raw data
data/player_data/
data/team_data/
data/match_data.csv

# Keep cleaned data
!data/cleaned/
